/* Header */
header {
    background: linear-gradient(25deg, rgba(14, 14, 14, 0.9), rgba(41, 41, 41, 0.9));
    padding: 0.2rem 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  header:hover {
    background: linear-gradient(50deg, rgba(14, 14, 14, 1), rgba(51, 51, 51, 1));
    transform: translateY(0px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  }
  
  .logo {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
  }
  
  .logo-main {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--color-highlight);
  }
  
  .logo-sub {
    font-size: 1rem;
    color: transparent;
    text-align: center;
    margin-left: 0.5rem;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 200% auto;
    transition: all .3s ease-in-out;
    animation: shinyEffect 12s infinite linear;
  }
  
  @keyframes shinyEffect {
    0% { background-position: 200% 0; }
    100% { background-position: -200% 0; }
  }
  
  nav.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
  }
  
  .nav-menu {
    display: flex;
    align-items: center;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .nav-links li:not(:last-child) {
    margin-right: 1.5rem;
  }
  
  .nav-links a {
    color: var(--color-text-light);
    font-weight: 500;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: var(--color-highlight);
  }
  
  .menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--color-text-light);
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    header {
      padding: 0.5rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    nav.container {
      width: 100%;
      flex-direction: column;
    }
  
    .logo {
      order: 1;
      margin-bottom: 0.5rem;
      transition: margin 0.3s ease-in-out;
    }
  
    .logo-sub {
      order: 3;
      margin-top: 0.5rem;
    }
  
    .menu-toggle {
      order: 2;
      display: block;
      position: absolute;
      right: 1rem;
      top: 1rem;
    }
  
    .nav-links {
      display: none;
      width: 100%;
      flex-direction: column;
      background-color: var(--color-background);
      padding: 1rem;
      transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
      overflow: hidden;
      max-height: 0;
      opacity: 0;
    }
  
    .nav-links.active {
      display: flex;
      max-height: 500px;
      opacity: 1;
    }
  
    .nav-links li {
      margin: 0.5rem 0;
      transition: margin 0.3s ease-in-out;
    }
  }
  
  @media screen and (max-width: 480px) {
    .logo-main {
      font-size: 1.5rem;
      transition: font-size 0.3s ease-in-out;
    }
  
    .logo-sub {
      font-size: 0.8rem;
      transition: font-size 0.3s ease-in-out;
    }
  
    .menu-toggle {
      align-self: flex-end;
      margin-top: 0rem;
      padding-right: 1rem;
    }
  }



  document.addEventListener('DOMContentLoaded', function() {
    const menuToggle = document.querySelector('.menu-toggle');
    const navLinks = document.querySelector('.nav-links');
    const header = document.querySelector('.main-header');
    const backToTopButton = document.createElement('button');




    .main-header {
        padding: 10px 0;
        box-shadow: none;
      }
    
      .logo-main {
        font-size: 1.9rem;
      }
    
      .logo-sub {
        display: flexbox;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    
      nav.container {
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
      }
    
      .nav-menu {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
      }
    
      .nav-links {
        flex-direction: column;
        gap: 10px;
      }
    
      .nav-links li {
        margin-right: 0;
      }
    
      .menu-toggle {
        display: block; /* Zeige das Menü-Icon auf kleineren Bildschirmen */
      }



      /* Header */
header {
    background: linear-gradient(350deg, rgba(14, 14, 14, 0.9), rgba(41, 41, 41, 0.9));
    padding: 0.2rem 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.7s ease, transform 0.7s ease, box-shadow 0.7s ease;
  }
  
  header:hover {
    background: linear-gradient(365deg, rgba(14, 14, 14, 1), rgba(51, 51, 51, 1));
    transform: translateY(0px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  }
  
  .main-header {
    max-width: 100%;
    padding: 20px 0; /* Abstand oben und unten */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Schatten für Tiefe */
    position: fixed; /* Header fixieren, bleibt beim Scrollen */
    top: 0;
    left: 0;
    z-index: 1000; /* Über anderen Elementen */
  }
  
  .logo {
    flex-direction: column;
    align-items: center;
  }
  
  .logo-main {
    font-size: 2.2rem; /* Größe des Logos */
    font-weight: bold;
    color: #fff;
  }
  
  .logo-sub {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 0.9rem;
    color: transparent;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.4));
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 200% auto;
    transition: all .3s ease-in-out;
    animation: shinyEffect 12s infinite linear;
    padding: 1em;
  }
  
  @keyframes shinyEffect {
    0% { background-position: 200% 0; }
    100% { background-position: -200% 0; }
  }
  
  nav.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
  }
  
  .nav-menu {
    display: flex;
    align-items: center;
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
  }
  
  .nav-links li:not(:last-child) {
    margin-right: 0.4rem;
  }
  
  .nav-links a {
    color: var(--color-text-light);
    font-weight: 500;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: var(--color-highlight);
  }
  
    .menu-toggle {
      display: none;
      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
      color: var(--color-text-light);
    }
  
  /**********************/
  /*** 768px and less ***/
  /**********************/
  @media (max-width: 768px) {
    header {
      position: relative;
    }
  
    .main-header {
      padding: 10px 0;
      box-shadow: none;
    }
  
    .logo-main {
      font-size: 1.9rem;
    }
  
    .logo-sub {
      display: flexbox;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  
    nav.container {
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav-menu {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  
    .nav-links {
      flex-direction: column;
      gap: 10px;
    }
  
    .nav-links li {
      margin-right: 0;
    }
  
    .menu-toggle {
      display: block; /* Zeige das Menü-Icon auf kleineren Bildschirmen */
    }
  }
  
  
  
  /**********************/
  /*** 425px and less ***/
  /**********************/
  @media (max-width: 425px) {
    nav.container {
      align-items: center;
    }
  }





  <header class="main-header">
  <nav class="container">
    <div class="logo">
      <span class="logo-main">7SYS</span>
    </div>
    <div class="logo-sub">automated systems to improve the world and beyond</div>
    <div class="nav-menu">
      <button class="menu-toggle" aria-label="Toggle menu">
        <i class="fas fa-bars"></i>
      </button>
      <ul class="nav-links">
        <li><a href="#home">Home</a></li>
        <li><a href="#linkliste">Linkliste</a></li>
        <li><a href="#wiki">Wiki</a></li>
        <li><a href="#downloads">Downloads</a></li>
        <li><a href="#contact" class="btn btn-primary">Kontakt</a></li>
      </ul>
    </div>
  </nav>
</header>