/* CSS Variables */
:root {
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Open Sans", sans-serif;
  --color-text: #b0b0b0;
  --color-text-light: #e0e0e0;
  --color-header: #ffffff;
  --color-background: #0f0f0f;
  --color-background-light: #1c1c1c;
  --color-background-lighter: #2a2a2a;
  --color-highlight: #3a7be0;
  --color-highlight-hover: #2a5fb0;
  --color-tag: #383838;
  --font-size-h1: 2.2rem;
  --font-size-h2: 1.8rem;
  --font-size-h3: 1.3rem;
  --padding-container: 0 1.5rem;
  --padding-hero: 4rem 0 2rem;
  --padding-contact-info: 2rem;
  --font-size-hero-h1: 1.8rem;
  --font-size-hero-h2: 0.9rem;
  --font-size-section-h2: 1.6rem;
  --font-size-contact-info-h3: 1.3rem;
  --font-size-contact-info-p: 0.9rem;
  --font-size-contact-form: 0.9rem;
  --font-size-social-icons: 1.3rem;
}

/* Reset and Base Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-primary);
  color: var(--color-text);
  background-color: var(--color-background);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffffff' fill-opacity='0.05' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  line-height: 1.6;
  font-size: 16px;
  scroll-behavior: smooth;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-primary);
  color: var(--color-header);
  margin-bottom: 1rem;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.2rem; }
h5 { font-size: 1rem; }
h6 { font-size: 0.9rem; }

p {
  font-family: var(--font-secondary);
  margin-bottom: 1rem;
}

a {
  color: var(--color-text);
  text-decoration: none;
  transition: color 0.3s, transform 0.3s;
}

a:hover {
  color: var(--color-highlight);
  transform: translateY(-2px);
}

/* Utility Classes */
.text-center { text-align: center; }

/* Lazy Loading */
.lazyload,
.lazyloading {
  opacity: 0;
}
.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}

/* Smooth scrolling for the entire page */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-background-light);
}

::-webkit-scrollbar-thumb {
  background: var(--color-highlight);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-highlight-hover);
}

/********** 768px **********/

/* Disable custom scrollbar on mobile devices */
@media (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none; /* Versteckt die benutzerdefinierte Scrollbar auf mobilen Geräten */
  }
}

/********** 1024px **********/

@media screen and (max-width: 1024px) {
  h1 { font-size: var(--font-size-h1); }
  h2 { font-size: var(--font-size-h2); }
  h3 { font-size: var(--font-size-h3); }
}
