/* Downloads Section */
.download-card {
  text-decoration: none;
  color: inherit;
  background-color: var(--color-background-light);
  border-radius: 12px;
  padding: 1.25rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease;
}

.download-card:hover {
  background-color: var(--color-background);
  transform: translateX(10px);
}

.download-card-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.download-card i {
  color: var(--color-highlight);
  margin-right: 1.25rem;
  font-size: 1.75rem;
  transition: transform 0.3s ease;
}

.download-card:hover i {
  transform: scale(1.1);
}

.download-card-text {
  flex-grow: 1;
}

.download-card .btn-download {
  white-space: nowrap;
  margin-left: 1rem;
}
