header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(350deg, rgba(14, 14, 14, 0.9), rgba(41, 41, 41, 0.9));
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.7s ease, transform 0.7s ease, box-shadow 0.7s ease;
  max-height: 100px;
}

header:hover {
  background: linear-gradient(365deg, rgba(14, 14, 14, 1), rgba(51, 51, 51, 1));
  transform: translateY(0px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.head-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0rem 2.9rem;
  max-height: 70px;
  height: 70px;
  overflow: hidden;
}

.logo {
  display: inline-block;
  font-size: 2.2rem;
  font-weight: bold;
  color: #306CCA;
}

.logo-sub {
  display: inline-block;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1.0rem;
  color: transparent;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 200% auto;
  transition: all .3s ease-in-out;
  animation: shinyEffect 9s infinite linear;
  padding: 1.0em;
}

@keyframes shinyEffect {
  0% { background-position: 200% 0; }
  100% { background-position: -200% 0; }
}

.nav-menu {
  display: inline-block;
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.nav-menu li {
  margin: 0;
  list-style: none;
}

.nav-menu a {
  color: var(--color-text-light);
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-menu a:hover {
  color: var(--color-highlight);
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--color-text-light);
  position: absolute;
  top: 25px;
  right: 25px;
}

/********** 768px **********/

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  .head-container {
    overflow:visible;
  }

  .menu-toggle {
    display: block;
    top: 25px;
    right: 25px;
  }

  .logo {
    display: block;
    justify-content: center;
    font-size: 2.2rem;
    font-weight: bold;
  }

  .logo-sub {
    padding: 0.3em;
  }

  .nav-menu {
    display: none; /* Menü standardmäßig ausgeblendet */
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: rgba(41, 41, 41, 0.95); /* Hintergrund für das aufgeklappte Menü */
    padding: 20px;
    position: absolute;
    top: 100%; /* Unterhalb des Headers platzieren */
    right: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .nav-menu.active {
    display: flex;
  }

  .nav-menu a {
    padding: 10px 20px; /* Abstände für Links hinzufügen */
    width: 100%;
    text-align: center; /* Text zentrieren */
  }
}
