/* Header */
header {
  background: linear-gradient(25deg, rgba(14, 14, 14, 0.9), rgba(41, 41, 41, 0.9)); /* Weicher, transparenter Gradient */
  padding: 0.2rem 0; /* Etwas mehr Padding für bessere Lesbarkeit */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtiler Schatten für Tiefe */
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Sanfte Übergänge */
}

header:hover {
  background: linear-gradient(50deg, rgba(14, 14, 14, 1), rgba(51, 51, 51, 1)); /* Hover: intensiverer Gradient */
  transform: translateY(0px); /* Leichter Hover-Effect, hebt das Element an */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3); /* Verstärkter Schatten beim Hover */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row; /* Changed to row to place logo-sub to the right of logo-main */
  align-items: center; /* Center align items vertically */
}

.logo-main {
  font-size: 2.5rem; /* Adjusted size for better visibility */
  font-weight: 700;
  color: var(--color-highlight);
}

.logo-sub {
  font-size: 1rem;
  color: transparent; /* Make text transparent for background-clip effect */
  text-align: center;
  margin-left: 0.5rem; /* Added margin for spacing between logo-main and logo-sub */
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1)); /* Brighter gradient */
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 200% auto; /* Ensure enough space for animation */
  transition: all .3s ease-in-out;
  animation: shinyEffect 12s infinite linear; /* Smooth, slower animation */
}

@keyframes shinyEffect {
  0% {
    background-position: 200% 0; /* Start from the right for reversed direction */
  }
  100% {
    background-position: -200% 0; /* Move to the left */
  }
}



.nav-links {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-links li:not(:last-child) {
  margin-right: 1.5rem;
}

.nav-links a {
  color: var(--color-text-light);
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: var(--color-highlight);
}

.menu-toggle {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}
