/* Hero Section */
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('path/to/your/hero-image.jpg');
  background-size: cover;
  background-position: center;
  padding: 3rem 0 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-header);
  margin-bottom: 3rem;
}

.hero-content {
  max-width: 800px;
  padding: 0 1rem;
  margin-top: 60px;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: var(--color-highlight);
}

.hero h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

.hero p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

/********** 768px **********/

@media screen and (max-width: 768px) {
  .hero {
    padding: 7rem 0 3rem;
    margin-top: 1rem;
    transition: padding 0.3s ease-in-out, margin 0.3s ease-in-out;
  }

  .hero h1 {
    font-size: var(--font-size-hero-h1);
    transition: font-size 0.3s ease-in-out;
  }

  .hero h2 {
    font-size: var(--font-size-hero-h2);
    transition: font-size 0.3s ease-in-out;
  }
}

/********** 480px **********/

@media screen and (max-width: 480px) {
  .hero {
    padding: 5rem 0 3rem;
    margin-top: 1rem;
    transition: padding 0.3s ease-in-out, margin 0.3s ease-in-out;
  }

  .hero h1 {
    font-size: var(--font-size-hero-h1);
    transition: font-size 0.3s ease-in-out;
  }

  .hero h2 {
    font-size: var(--font-size-hero-h2);
    transition: font-size 0.3s ease-in-out;
  }

  .hero p {
    font-size: 0.8rem;
    transition: font-size 0.3s ease-in-out;
  }
}
